@model MvcMovie.Models.ReviewsViewModel
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movies[0].Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movies[0].Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movies[0].ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies[0].Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movies[0].Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies[0].Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movies[0].Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies[0].Reviewer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movies[0].Reviewer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies[0].Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movies[0].Comment)
        </dd>
    </dl>
</div>
<div class="container">
    <img src="@Html.DisplayFor(model => model.Movies[0].Poster)" />
    @ViewBag.Comment
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.ID"><input type="submit" class="btn btn-info" value="Edit" /></a>
    <a asp-action="Index"><input type="submit" value="Back to List" /></a>
</div>

<h4 style="font-weight:bolder">Reviews</h4>



<h2>@Model.Reviewer</h2>
<h2>@Model.Comment</h2>



<a asp-controller="Reviews" asp-action="Create"><input type="submit" class="btn btn-info" value="✎Write a Review" /></a>

