@model MvcMovie.Models.Reviews
@{
    ViewData["Title"] = "WriteReview";
}

<h2 class="active">Write your review of @ViewBag.MovTitle</h2>



@using (Html.BeginForm("WriteReview", "Movies", FormMethod.Post))
{

    <div class="editor-label">
        @Html.LabelFor(model => model.Reviewer)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Reviewer)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Comment)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Comment, htmlAttributes: new { style = "width: 75%; max-width: 100%;" })
    </div>
    @Html.HiddenFor(x => x.Title, new { @Value = ViewBag.MovTitle });


    <div><p> </p></div>
    <input type="submit" value="Submit" class="btn btn-info" />
    <input type="submit" value="Back to Movie Details" class="btn btn-primary" />
}

